<!-- Top Header -->
    <header class="top-header">
      <button class="toggle-sidebar-btn" onclick="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
      </button>

    </header>

    <div class="breadcrumb" id="breadcrumb">
        <span onclick="showLevel(1)">Danh mục sản phẩm</span>
    </div>
    <!-- Content Body -->
    <main class="content-body" id='wrapper'>
        <!-- Breadcrumb -->
      
      <!-- Cards tổng quan -->
      <div class="cards-grid">
        <div class="card">
          <div class="card-info">
            <p>Quản lý Sản phẩm</p>
            <h3>5,200 SP</h3>
          </div>
          <div class="card-icon">
            <i class="fa-solid fa-box"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-info">
            <p>Kho chứa</p>
            <h3>12 Kho</h3>
          </div>
          <div class="card-icon">
            <i class="fa-solid fa-warehouse"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-info">
            <p>Xuất nhập kho</p>
            <h3>340 Giao dịch</h3>
          </div>
          <div class="card-icon">
            <i class="fa-solid fa-right-left"></i>
          </div>
        </div>
      </div>

      <!-- Toolbar hành động -->
      <div class="toolbar">
        <div class="toolbar-title">
          <h1>Quản lý Sản phẩm</h1>
        </div>
        <div class="toolbar-actions">
          <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search...">
          </div>
          <button class="btn btn-primary" onclick="openModal('modal-add-product')">
            <i class="fa-solid fa-plus"></i> Thêm Sản phẩm
          </button>
        </div>
      </div>
    
       <!-- Bảng Sản Phẩm -->
        <div class="table-container" id="product_table">
          <table>
            <thead>
                <tr>
                <th>Hình ảnh</th>
                <th>Mã SP (SKU)</th>
                <th>Tên Sản phẩm</th>
                <th>Nhà cung cấp</th>
                <th>Nhóm</th>
                <th>Nhân viên tạo</th>
                <th>Ngày tạo</th>
                <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
          </table>
        </div>
        <!-- card sản phẩm -->
        <div class="card-container" id="product_card">
        </div>
      <!-- thanh điều hướng cho điện thoại máy tính bảng -->
       <!-- Thêm thư viện Font Awesome để lấy icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    </main>