

  <title>Hệ Thống Quản Lý Kho (WMS)</title>

</head>
<body>

  <!-- Breadcrumb -->
  <div class="breadcrumb" id="breadcrumb">
    <span onclick="showLevel(1)">Tổng quan Kho</span>
  </div>
  <main class="content-body" id='wrapper'>
    <!-- Toolbar -->
    <div class="toolbar">
      <div class="toolbar-actions" id="actionButtons">
          <button class="btn btn-primary" onclick="alert('Mở Popup Tạo Kho Mới')">+ Tạo Kho Mới</button>
          <button class="btn btn-in" onclick="openModal('modal-import-stock')">📥 NHẬP HÀNG NHANH (QR)</button>
          <button class="btn btn-out" onclick="openQuickActionModal('OUT')">📤 XUẤT HÀNG NHANH (QR)</button>
          <button class="btn btn-report" onclick="showLevel('REPORT')">📊 BÁO CÁO KHO</button>
      </div>
      <div class="search-box">
        <input type="text" id="searchInput" placeholder="🔍 Tìm kiếm tên kho, SKU, vị trí..." onkeyup="filterView()">
      </div>
    </div>

    <!-- Main Content -->
    <div class="container">
      
      <!-- TẦNG 1: DANH SÁCH KHO -->
      <div id="level1" class="view-section active">
        <div class="grid-cards" id="warehouseList"></div>
      </div>

      <!-- TẦNG 2: DANH SÁCH KỆ CỦA KHO -->
      <div id="level2" class="view-section">
        <div class="grid-cards" id="rackList"></div>
      </div>

      <!-- TẦNG 3: MA TRẬN CELL CỦA KỆ -->
      <div id="level3" class="view-section">
        <div id="cellMatrix"></div>
      </div>

    </div>

  </main>
    <!-- Form Modal nhập kho -->
  {% include 'includes/modal_import_stock.html' %}
  
</body>
