
<div  class="modal-overlay" id="modal-import-stock">
    <div class="modal-card">
        <div class="modal-header">
            <h3 id='form_import_stock'>📥 Nhập Hàng Nhanh</h3>
            <button class="modal-close" onclick="closeModal('modal-import-stock')"><i class="fa-solid fa-xmark"></i></button>
        </div>
    
        <div class="modal-body">
            <!-- 1. Quét QR vị trí Cell -->
            <div class="form-group">
                <label>Mã Ô/Kệ (Location Cell):</label>
                <input id='stockForm_name' type="text" class="form-control" placeholder="Nhập tên sản phẩm...">
            </div>

            <!-- 2. Thông tin mặt hàng -->
            <div class="form-group">
                <label>Mã Code sản phẩm</label>
                <div class="input-with-action">
                    <input type="text" class="form-control" id="stockForm_code" placeholder="Nhập mã code sản phẩm...">
                    <button class="btn btn-secondary" onclick="openQRScanner('stockForm_code')"><i class="fa-solid fa-qrcode"></i></button> 
                </div>
            </div>

            <div class="form-group">
                <label>Số lượng</label>
                <input  id='stockForm_name' type="number" class="form-control"  value="1" min="1">
            </div>

            <!-- 3. Chụp hình ảnh thực tế lưu Supabase -->
              
            <div class="form-group">
                <label>URL ảnh sản phẩm</label>
                <div class="input-with-action">
                    <input disabled type="text" class="form-control" id="stockForm_urlPicture" placeholder="url hình ảnh sản phẩm...">
                    <button class="btn btn-secondary" onclick="window.takePicture('stockForm_picture', 'stockForm_urlPicture')">
                    <i class="fa-solid fa-camera"></i>
                    </button>
                </div>
            </div>
            <img id="stockForm_picture" src="" alt="" width="200" height="200" style="display: none;">

        </div>

        <!-- Nút xác nhận -->
        <div class="modal-footer">
            <button class="btn btn-secondary" onclick="closeModal('modal-import-stock')">Hủy</button>
            <button class="btn btn-primary" id="btnSubmitImportStock" onclick="submitInventoryAction()">Xác Nhận Lưu</button>
        </div>
    </div>
</div>