
<div class="modal-overlay" id="modal-edit-product">
    <div class="modal-card">
      <div class="modal-header">
        <h3>Thông tin sản phẩm</h3>
        <button class="modal-close" onclick="closeModal('modal-edit-product')"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
         <input type="hidden" id="editProductForm_id" name="id">
        <div class="form-group">
          <label>Tên SP</label>
          <input id='editProductForm_name' type="text" class="form-control" placeholder="Nhập tên sản phẩm...">
        </div>

        <div class="form-group">
          <label>Mã Code sản phẩm</label>
          <div class="input-with-action">
            <input type="text" class="form-control" id="editProductForm_code" placeholder="Nhập mã code sản phẩm...">
            <button class="btn btn-secondary" onclick="openQRScanner('editProductForm_code')"><i class="fa-solid fa-qrcode"></i></button> 
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Nhà cung cấp</label>
            <div class="input-with-action">
              <select class="form-control" id='supplierSelectEdit'>
              
              </select>
              <button class="btn btn-secondary" title="Tạo nhà cung cấp mới" onclick="openModal('modal-supplier')">+</button>
            </div>
          </div>
          <div class="form-group">
            <label>Nhóm</label>
            <div class="input-with-action">
              <select class="form-control" id='categorySelectEdit'>
              </select>
              <button class="btn btn-secondary" title="Tạo nhóm mới" onclick="openModal('modal-category')">+</button>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label>URL ảnh sản phẩm</label>
          <div class="input-with-action">
            <input disabled type="text" class="form-control" id="productEditForm_urlPicture" placeholder="url hình ảnh sản phẩm...">
            <button class="btn btn-secondary" onclick="window.takePicture('productEditForm_picture', 'productEditForm_urlPicture')">
              <i class="fa-solid fa-camera"></i>
            </button>
          </div>
        </div>
        <img id="productEditForm_picture" src="" alt="" width="200" height="200" style="display: none;">
        <div class="form-group">
          <label>Hình ảnh sản phẩm</label>
          <input id='editProductForm_image' type="file" class="form-control" accept="image/*">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" onclick="closeModal('modal-edit-product')">Hủy</button>
        <button class="btn btn-primary" id='btnAddProduct' onclick='submit_editProduct()'>Lưu</button>
      </div>
    </div>
    <!-- 2. NƠI GỌI CÁC FILE FORM MODAL VÀO -->
  {% include 'includes/modal_add_supplier.html' %}
  {% include 'includes/modal_add_category.html' %}
    
  </div>
  