<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quản Lý Sản Phẩm - Warehouse Management System</title>
<!-- Font Inter & FontAwesome Icons -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<!-- <link rel="stylesheet" href="/static/css/product_style.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_style.css') }}?v=1.1">

</head>
<body>

  <!-- Overlay khi mở Sidebar trên Mobile -->
  <div class="sidebar-overlay" id="sidebarOverlay" onclick="toggleSidebar()"></div>

  <!-- Sidebar Navigator -->
  <aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
      <div class="user-profile">
        <div class="user-avatar">NV</div>
        <div class="user-info">
          <div class="user-name" id="userName">xxxx</div>
          <div class="user-role" id="role"></div>
        </div>
      </div>
      <button class="close-sidebar-btn" onclick="toggleSidebar()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    
    <ul class="sidebar-menu">
      <li><a data-target="dashboard" href="#"><i class="fa-solid fa-chart-pie" ></i> Dashboard</a></li>
      <li><a data-target="product" href="#" class="active"><i class="fa-solid fa-box" ></i> Sản phẩm</a></li>
      <li><a data-target="inventory" href="#"><i class="fa-solid fa-warehouse" ></i> Kho chứa</a></li>
      <li><a data-target="transaction" href="#"><i class="fa-solid fa-arrow-right-arrow-left"></i> Giao dịch</a></li>
      <li><a data-target="account" href="#"><i class="fa-solid fa-user-gear"></i> Tài khoản</a></li>
      <li><a data-target="logOut" href="#"><i class="fa-solid fa-user-gear"></i> đăng xuất </a></li>
    </ul>
  </aside>

  <!-- Main Container -->
   <div class="main-wrapper" id="dashboard">
    dashboard
  </div>
  <div class="main-wrapper active" id="product">
    {% include 'includes/main-wrapper_product.html' %}
 
  </div>
  <div class="main-wrapper" id="inventory">
    {% include 'includes/main-wrapper_inventory.html' %}
  </div>

  <div class="main-wrapper" id="account">
    tài khoản
  </div>
  <div class="main-wrapper" id="logOut">
    đăng xuất
  </div>
  <nav class="bottom-nav">
    <a data-target="dashboard" href="#" class="nav-item">
        <i class="fa-solid fa-border-all nav-icon"></i>
        <span class="nav-label">Dashboard</span>
    </a>

    <a data-target="product" href="#" class="nav-item active">
        <i class="fa-solid fa-box nav-icon"></i>
        <span class="nav-label">Sản phẩm</span>
    </a>

    <a data-target="inventory" href="#" class="nav-item">
        <i class="fa-solid fa-store nav-icon"></i>
        <span class="nav-label">Kho chứa</span>
    </a>

    <a href="#" class="nav-item">
        <i class="fa-solid fa-arrow-right-left nav-icon"></i>
        <span class="nav-label">Giao dịch</span>
    </a>

    <a data-target="account" href="#" class="nav-item">
        <i class="fa-regular fa-user nav-icon"></i>
        <span class="nav-label">Tài khoản</span>
    </a>
  </nav>
  <!--  lưu dữ liệu img và ảnh chụp và qr code-->
  <input type="hidden" id="hidden_id_img" value="">
  <input type="hidden" id="hidden_id_img_url" value="">
  <input type="hidden" id="hidden_id_qr" value="">

  <!-- Form Modal edit Sản Phẩm -->
  {% include 'includes/modal_edit_product.html' %}
  <!-- Form Modal Thêm Sản Phẩm -->
  {% include 'includes/modal_add_product.html' %}
  
  {% include 'includes/modal_take_picture.html' %}
  {% include 'includes/modal_import_stock.html' %}
  <!-- Form Modal thêm nhà cung cấp, sản phẩm -->

  <!-- Nhúng file product.js với type="module" -->
<script type="module" src="{{ url_for('static', filename='js/product.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/inventory.js') }}"></script>
</body>
</html>