<!DOCTYPE html>
<html>
<head>
  <base target="_top">
    <!-- Nhúng file CSS từ thư mục static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Chèn file JavaScript từ thư mục static -->
        <script src="{{ url_for('static', filename='js/product-add_new_row.js') }}"></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare. com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    
    <div class="product">
        <button id="btnAddProduct" style="margin-bottom: 15px; padding: 8px 16px; cursor: pointer;">
            + Thêm sản phẩm mới
        </button>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Sản phẩm A</td>
                <td>100.000 VNĐ</td>
                <td>Còn hàng</td>
            </tr>
            </tbody>
        </table>
    </div>


    
</body>

