<!DOCTYPE html>
<html>
<head>
  <base target="_top">
    <!-- Nhúng file CSS từ thư mục static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Chèn file JavaScript từ thư mục static -->
     <!-- <script src="{{ url_for('static', filename='js/toggleDiv.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scan_QR.js') }}"></script> -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <DIV class="product">product table</DIV>
    
</body>
